.bubble-chart-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.bubble-chart-legend-container {
  display: flex;
  justify-content: center;
}

.bubble-chart-legend {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.bubble-chart-legend-key {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 0.5rem;
}

.node {
  cursor: pointer;
}

.node.disabled {
  display: none;
}

.bubble-chart-tooltip {
  position: absolute;
  width: 300px;
  height: 300px;
  font: 10px sans-serif;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
